/*透视就像上帝视角一样*/

body{
    perspective: 300px;
}


img{
    margin: 100px;
    transition: all 5s linear;
}


img:active{
    /*transform: translateX(300px);*/
    /*transform: translateY(300px);*/
    transform: translateZ(300px);
}